<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oregano&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oregano&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script defer src="/scripts/script.js"></script>
</head>
<body>
    <section class="about">
        <nav>
            <div class="left-nav">
                <h3 id="MENU">MENU</h3>
            </div>
            <div class="center-nav">
                
                <h3 id="name">Santhosh Desigr</h3>
            </div>
            <div class="rigt-nav">
              <a href="https://www.linkedin.com/in/santhoshdesigr"class="icon-link" target="_blank">
                  <img class="icon" src="/assets/icons/Linkedin.png"  alt="Linkedin"></a> 
               <a href="https://www.behance.net/SanthoshDesigr" class="icon-link" target="_blank">
                   <img class="icon" src="/assets/icons/Behance.png" alt="Behance"></a>
               <a href="mailto:santhoshshrsvsspb@outlook.com" class="icon-link" target="_blank">
                   <img class="icon" src="/assets/icons/Email.png" alt="Email"></a>
               <a href="https://twitter.com/SanthoshDesigr" class="icon-link" target="_blank">
                   <img class="icon" src="/assets/icons/Twitter.png" alt="Twitter"></a>
               
               
            </div>
            
        </nav>
        		<div class="container" id="about-container">
			<div class="menu-btn">
				<span class="top"></span>
				<!-- <span class="mid"></span> -->
				<span class="bot"></span>
			</div>
			<div id="nav" class="fadein">
				<ul class="nav-inner">
					<li>
						<a href="/templates/index.html">Home</a>
					</li>
					<li>
						<a href="/templates/about.html">About me</a>
					</li>
					<li>
						<a href="/templates/projects.html">Projects</a>
					</li>
					<li>
						<a href="/templates/contact.html">Contact</a>
					</li>
				</ul>
			</div>

            </div>
    </section>
    <section class="about">
<div class="aboutme">
    <img id="santhosh-img" src="/assets/images/santhosh.png" alt="santhosh">
    <div class="aboutme-content">
        <h2>I'm Santhosh</h2>
        <h6>UI\UX Designer located in Tamilnadu,India</h6>
        <div id="breadcrumb">Home ▶ <b>About</b></div>

        <p>To secure a position as a UI\UX Designer in a fast growing industry that creates and develops
            high attractive designs where skills and expertise can maximize potential growth.</p>
        <h5>Blossoms to the earth</h5>
        <p>I was born in the city of Tiruppur in Tamilnadu, India</p>
    </div>
</div>

<div class="education">
    <h1>Education</h1>
    <h3>Schools</h3>
    <p class="h-p">I Completed My Secondary & Higher School at the Vigneswara  Vidyalaya Matriculation Higher Secondary School, It's located in the perumanallur a place in Tiruppur city. </p>
    
    <div class="list">
        <ul><li>Secondary School Leaving Certificate (SSLC)</li></ul>
        <p class="li-p">I Completed, My SSLC (10th Standard) between the year (2015-2016) with 81%</p>
    </div>
    <div class="list">
        <ul><li>Higher Secondary Certificate (HSC)</li></ul>
        <p class="li-p">I Completed, My HSC (12th Standard) between the year (2017-2018) with 65.08%</p>
    </div>
    
    <h3>College</h3>
    <p class="h-p">I started My Bachelor's degree in Mechanical Engineering at the College of Jansons Institute of Technology  It’s located in the place Karumathampatti the city of Coimbatore.</p>
    <h4>Bachelor of Mechanical Engineering(B.E)</h4>
    <p class="h-p">The Period of the bachelor's degree is about 4years (2018-2022)</p>
</div>

<div class="skills">
<h1>Software Skills</h1>
<div class="skills-box">
    <div class="skill-rect"><img src="/assets/icons/Figma Logo.png" alt=""><p>Figma</p></div>
    <div class="skill-rect"><img src="/assets/icons/Adobe Premier Pro.png" alt=""><p>Premier Pro</p></div>
    <div class="skill-rect"><img src="/assets/icons/OBS Studio.png" alt=""><p>OBS Studio</p></div>
    <div class="skill-rect"><img src="/assets/icons/Adobe Xd.png" alt=""><p>Adobe Xd</p></div>
    <div class="skill-rect"><img src="/assets/icons/Adobe Photoshop.png" alt=""><p>Photoshop</p></div>
    <div class="skill-rect"><img src="/assets/icons/Adobe Indesign.png" alt=""><p>Adobe Indesign</p></div>
    <div class="skill-rect"><img src="/assets/icons/Adobe Illustrator.png" alt=""><p>Adobe Illustrator</p></div>
    <div class="skill-rect"><img src="/assets/icons/Blender.png" alt=""><p>Blender</p></div>
    <div class="skill-rect"><img src="/assets/icons/Sketch.png" alt=""><p>Sketch</p></div>
    <div class="skill-rect"><img src="/assets/icons/VS Code.png" alt=""><p>VS Code</p></div>
    <div class="skill-rect"><img src="/assets/icons/Canva.png" alt=""><p>Canva</p></div>
    <div class="skill-rect"><img src="/assets/icons/html.png" alt=""><p>HTML & CSS</p></div>
    
</div>
</div>

<div class="design">
    <h1>Design Skills</h1>
    <div class="design-box">
        <div class="design-rect"><img src="/assets/icons/Empathy.png" alt=""><p>Empathy</p></div>
        <div class="design-rect"><img src="/assets/icons/Prototyping (1).png" alt=""><p>Problem Solving</p></div>
        <div class="design-rect"><img src="/assets/icons/Analytical.png" alt=""><p>Analytical</p></div>
        <div class="design-rect"><img src="/assets/icons/Communication.png" alt=""><p>Communication</p></div>
        <div class="design-rect"><img src="/assets/icons/Creative Thinking.png" alt=""><p>Creative Thinking</p></div>
        <div class="design-rect"><img src="/assets/icons/UX writing (1).png" alt=""><p>Curiosity</p></div>
        <div class="design-rect"><img src="/assets/icons/User Interface Design.png" alt=""><p>User Interface Design</p></div>
        <div class="design-rect"><img src="/assets/icons/Prototyping.png" alt=""><p>Prototyping</p></div>
        <div class="design-rect"><img src="/assets/icons/UX research.png" alt=""><p>UX Research</p></div>
        <div class="design-rect"><img src="/assets/icons/User Experience Design.png" alt=""><p>User Experience Design</p></div>
        <div class="design-rect"><img src="/assets/icons/Design Thinking.png" alt=""><p>Design Thinking</p></div>
        <div class="design-rect"><img src="/assets/icons/UX writing (1).png" alt=""><p>UX writing</p></div>
        <div class="design-rect"><img src="/assets/icons/User Centered Design.png" alt=""><p>User Centered Design</p></div>
        <div class="design-rect"><img src="/assets/icons/Wireframing.png" alt=""><p>Wireframing</p></div>
        <div class="design-rect"><img src="/assets/icons/Typography.png" alt=""><p>Typography</p></div>
        <div class="design-rect"><img src="/assets/icons/Product Design.png" alt=""><p>Product Design</p></div>
        <div class="design-rect"><img src="/assets/icons/Micro Interactions.png" alt=""><p>Micro Intractions</p></div>
        <div class="design-rect"><img src="/assets/icons/Micro Animations.png" alt=""><p>Micro Animations</p></div>
    </div>
    </div>

    <div class="certificates">
        <h1>My Learning way to Success</h1>
        <h3>Completed Courses & Certificates</h3>
        <div class="all-cert">
            <div class="cert-box">
                <ul><li><img src="/assets/icons/Figma Logo.png" alt=""></li><li>Figma UI UX Design Essentials</li></ul>
                <div class="cert-content">
                    <p class="cert-p">Daniel Walter Scott on Udemy</p>
                <a href="https://udemy-certificate.s3.amazonaws.com/image/UC-cfdcbe2d-4cef-495e-be14-b1961fe2d3a7.jpg" target="_blank">View Certificate</a>
                </div>
            </div>
            
            <div class="cert-box">
                <ul><li><img src="/assets/icons/Figma Logo.png" alt=""></li><li>Motion Design with Figma: Animations, Motion Graphics, UX/UI</li></ul>
                <div class="cert-content">
                    <p class="cert-p">Zero To Mastery Academy on Udemy</p>
                <a href="https://udemy-certificate.s3.amazonaws.com/image/UC-91c12f3b-c983-43e5-a717-83a34c14b289.jpg" target="_blank">View Certificate</a>
                </div>
            </div>
             <div class="cert-box">
                <ul><li><img src="/assets/icons/Figma Logo.png" alt=""></li><li>Master Digital Product Design: UX Research & UI Design
                </li></ul>
                <div class="cert-content">
                    <p class="cert-p">Rob Sutcliffe on Udemy</p>
                <a href="https://udemy-certificate.s3.amazonaws.com/image/UC-5b9c0cff-4b1a-4cc5-af32-ca2adc5f5926.jpg" target="_blank">View Certificate</a>
                </div>
                
            </div>

            
            <div class="cert-box">
                <ul><li><img src="/assets/icons/Sketch.png" alt=""></li><li>The Complete Sketch 5 Course Design Apps & Websites 2021</li></ul>
                <div class="cert-content">
                    <p class="cert-p">Codestars by Rob Percival on Udemy</p>
                <a href="https://udemy-certificate.s3.amazonaws.com/image/UC-336f9ca3-c690-4397-be2b-c48a200b8890.jpg" target="_blank">View Certificate</a>
                </div>
                
            </div>
            <div class="cert-box">
                <ul><li><img src="/assets/icons/Adobe Xd.png" alt=""></li><li>User Experience Design Essentials Adobe XD UI UX Design
                </li></ul>
                <div class="cert-content">
                    <p class="cert-p">Daniel Walter Scott
                        Adobe Certified Instructor & Adobe Certified Expert
                        on Udemy</p>
                    <a href="https://udemy-certificate.s3.amazonaws.com/image/UC-d5d6d610-7e67-43e0-b923-291f49306b62.jpg" target="_blank">View Certificate</a>
                </div>
                
            </div>
            <div class="cert-box">
                <ul><li><img src="/assets/icons/Adobe Photoshop.png" alt=""></li><li>Adobe Photoshop CC - Essentials Training Course
                </li></ul>
                <div class="cert-content">
                    <p class="cert-p">Daniel Walter Scott on Udemy</p>
                <a href="https://udemy-certificate.s3.amazonaws.com/image/UC-bde07994-0cb1-46e7-9d8d-40f7112ba0e3.jpg" target="_blank">View Certificate</a>
                </div>
                
            </div>
            <div class="cert-box">
                <ul><li><img src="/assets/icons/Adobe Logo.png" alt=""></li><li>UX Design Foundation by Adobe</li></ul>
                <div class="cert-content">
                    <p class="cert-p">Adobe UX Foundation Learning Journey</p>
                    <a href="https://learn.futureskillsprime.in/verify_badge/91p64fP54p?user_id=1488239&timestamp=1647864162350&edCast?latest" target="_blank">View Certificate</a>
                </div>
              
            </div>
           
           
            <div class="cert-box">
                <ul><li><img src="/assets/icons/Adobe Premier Pro.png" alt=""></li><li> Adobe Premiere Pro CC Masterclass: Video Editing in Premiere</li></ul>
                <div class="cert-content">
                    <p class="cert-p"> Phil Ebiner, Video School on Udemy</p>
                    <a href="https://udemy-certificate.s3.amazonaws.com/image/UC-78e8ad14-2532-4040-938a-2a19b267d20a.jpg" target="_blank">View Certificate</a>
                </div>
               
            </div>
            <div class="cert-box">
                <ul><li><img src="/assets/icons/Canva-Logo-Transparent-300x300 1.png" alt=""></li><li>Canva Master Course | Use Canva to Grow your Business</li></ul>
                <div class="cert-content">
                    <p class="cert-p">Ronny Hermosa on Udemy</p>
                <a href="https://udemy-certificate.s3.amazonaws.com/image/UC-7888e088-d36c-49b8-872b-04b9dc5940d0.jpg" target="_blank">View Certificate</a>
                </div>
                
            </div>
            <div class="cert-box">
                <ul><li><img src="/assets/icons/Canva-Logo-Transparent-300x300 1.png" alt=""></li><li>Canva 100 Design Milestone Badge</li></ul>
                <div class="cert-content">
                    <p class="cert-p">Award from Canva</p>
                <a href="https://www.canva.com/design/DAE5ve8gvKs/ptPM53cz4C1d5-jwcWQ5Tg/view?utm_content=DAE5ve8gvKs&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton" target="_blank">View Certificate</a>
                </div>
                
            </div>

            <div class="cert-box">
                <ul><li><img src="/assets/icons/html.png" alt=""></li><li> The Creative HTML5 & CSS3 Course - Build Awesome Websites</li></ul>
                <div class="cert-content">
                    <p class="cert-p"> Dev Ed, Maxine Tillman on Udemy</p>
                    <a href="https://udemy-certificate.s3.amazonaws.com/image/UC-e0d817b8-c5a2-4d59-acbc-ce0418c64f5a.jpg">View Certificate</a>
                </div>
                
            </div>

        </div>
       
    </div>
    <div class="language">
        <h1>Languages Known</h1>
        <ul>
        <li style="list-style-type: disc;">English</li>
        <li style="list-style-type: disc;">Tamil</li>
    </ul>
    </div>
    <footer>
        <div class="left-footer">
            <h1>Santhosh Desigr</h1>
            <p>I am Self learner and a curious person</p>
            <div class="links">
                <a href="/templates/index.html">Home</a>
                <a href="/templates/about.html">About</a>
                <a href="/templates/projects.html">Projects</a>
                <a href="/templates/contact.html">Contact</a>
            </div>
        </div>
        <div class="right-footer">
            <div class="link-footer">
                <a href="https://www.linkedin.com/in/santhoshdesigr"class="icon-link" target="_blank">
                    <img class="icon" src="/assets/icons/Linkedin.png"  alt="Linkedin"></a> 
                 <a href="https://www.behance.net/SanthoshDesigr" class="icon-link" target="_blank">
                     <img class="icon" src="/assets/icons/Behance.png" alt="Behance"></a>
                 <a href="mailto:santhoshshrsvsspb@outlook.com" class="icon-link" target="_blank">
                     <img class="icon" src="/assets/icons/Email.png" alt="Email"></a>
                 <a href="https://twitter.com/SanthoshDesigr" class="icon-link" target="_blank">
                     <img class="icon" src="/assets/icons/Twitter.png" alt="Twitter"></a>
                 
                 
              </div>
              <p>santhoshrsvsspb@outlook.com</p>
              <h6>+91 9042340887</h6>
        </div>
    </footer>
    </section>
</body>
</html>