<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/css/index.css">
    <!-- <link rel="stylesheet" href="/css/projects.css"> -->
    <link rel="stylesheet" href="/css/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oregano&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oregano&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script defer src="/scripts/script.js"></script>

    <script src="/scripts/splide-3.6.12/dist/js/splide.min.js"></script>
    <link rel="stylesheet" href="/scripts/splide-3.6.12/dist/css/splide.min.css">
   
    <link rel="stylesheet" href="/css/portfolio.css">

   <style>
       .container{
           height: 0%;
       }
       .head{
           background-color: #5FB1A3;
       }
       a>button#btn{
           background-color: #5FB1A3;
       }
   </style>
    
  
</head>
<body>
    <section class="projects">
        <nav>
            <div class="left-nav">
                <h3 id="MENU">MENU</h3>
            </div>
            <div class="center-nav">
                
                <h3 id="name">Santhosh Desigr</h3>
            </div>
            <div class="rigt-nav">
              <a href="https://www.linkedin.com/in/santhoshdesigr"class="icon-link" target="_blank">
                  <img class="icon" src="/assets/icons/Linkedin.png"  alt="Linkedin"></a> 
               <a href="https://www.behance.net/SanthoshDesigr" class="icon-link" target="_blank">
                   <img class="icon" src="/assets/icons/Behance.png" alt="Behance"></a>
               <a href="mailto:santhoshshrsvsspb@outlook.com" class="icon-link" target="_blank">
                   <img class="icon" src="/assets/icons/Email.png" alt="Email"></a>
               <a href="https://twitter.com/SanthoshDesigr" class="icon-link" target="_blank">
                   <img class="icon" src="/assets/icons/Twitter.png" alt="Twitter"></a>
               
               
            </div>
            
        </nav>
        		<div class="container" id="about-container">
			<div class="menu-btn">
				<span class="top"></span>
				<!-- <span class="mid"></span> -->
				<span class="bot"></span>
			</div>
			<div id="nav" class="fadein">
				<ul class="nav-inner">
					<li>
						<a href="/templates/index.html">Home</a>
					</li>
					<li>
						<a href="/templates/about.html">About me</a>
					</li>
					<li>
						<a href="/templates/projects.html">Projects</a>
					</li>
					<li>
						<a href="/templates/contact.html">Contact</a>
					</li>
				</ul>
			</div>

            </div>
    </section>

 <section class="portfolio">
<div class="head">
    <img src="/assets/ShoppingApp/The People Choices (1).png" alt="" class="title">
    <div class="breadcrumb">Home ▶ <b>Project</b> ▶ <b>The People Choices Shopping App Design</b></div>
</div>
<div class="date">March 2022</div>

<div class="img-holder">
    <img src="/assets/ShoppingApp/Mockups Shopping App.png" alt="">
</div>
<div class="slider-holder">
    <div id="main-slider" class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <img class="slide-imgs" src="/assets/ShoppingApp/1.png" />
            </li>
            <li class="splide__slide">
              <img class="slide-imgs" src="/assets/ShoppingApp/2.png" />
            </li>
            <li class="splide__slide">
              <img class="slide-imgs" src="/assets/ShoppingApp/3.png" />
            </li>
            <li class="splide__slide">
              <img class="slide-imgs" src="/assets/ShoppingApp/4.png" />
            </li>
            <li class="splide__slide">
                <img class="slide-imgs" src="/assets/ShoppingApp/5.png" />
              </li>
              <li class="splide__slide">
                <img class="slide-imgs" src="/assets/ShoppingApp/6.png" />
              </li>
              <li class="splide__slide">
                <img class="slide-imgs" src="/assets/ShoppingApp/7.png" />
              </li>
              <li class="splide__slide">
                <img class="slide-imgs" src="/assets/ShoppingApp/8.png" />
              </li>
              <li class="splide__slide">
                <img class="slide-imgs" src="/assets/ShoppingApp/9.png" />
              </li>
              <li class="splide__slide">
                <img class="slide-imgs" src="/assets/ShoppingApp/10.png" />
              </li>
              <li class="splide__slide">
                <img class="slide-imgs" src="/assets/ShoppingApp/11.png" />
              </li>
              <li class="splide__slide">
                <img class="slide-imgs" src="/assets/ShoppingApp/12.png" />
              </li>
              <li class="splide__slide">
                <img class="slide-imgs" src="/assets/ShoppingApp/13.png" />
              </li>
              <li class="splide__slide">
                <img class="slide-imgs" src="/assets/ShoppingApp/14.png" />
              </li>
              <li class="splide__slide">
                <img class="slide-imgs" src="/assets/ShoppingApp/15.png" />
              </li>
              <li class="splide__slide">
                <img class="slide-imgs" src="/assets/ShoppingApp/16.png" />
              </li>
              <li class="splide__slide">
                <img class="slide-imgs" src="/assets/ShoppingApp/17.png" />
              </li>
              <li class="splide__slide">
                <img class="slide-imgs" src="/assets/ShoppingApp/18.png" />
              </li>
              <li class="splide__slide">
                <img class="slide-imgs" src="/assets/ShoppingApp/19.png" />
              </li>
              <li class="splide__slide">
                <img class="slide-imgs" src="/assets/ShoppingApp/20.png" />
              </li>
              
          </ul>
        </div>
      </div>
</div>
<div class="button-box">
    <div class="in-box">
        <a href="/templates//shoppingAppDemo.html"><button id="btn">Demo</button></a>
        <a href=""><button id="btn">Back</button></a>
    </div>
   
</div>

 </section>
            <footer>
                <div class="left-footer">
                    <h1>Santhosh Desigr</h1>
                    <p>I am Self learner and a curious person</p>
                    <div class="links">
                        <a href="/templates/index.html">Home</a>
                        <a href="/templates/about.html">About</a>
                        <a href="/templates/projects.html">Projects</a>
                        <a href="/templates/contact.html">Contact</a>
                    </div>
                </div>
                <div class="right-footer">
                    <div class="link-footer">
                        <a href="https://www.linkedin.com/in/santhoshdesigr"class="icon-link" target="_blank">
                            <img class="icon" src="/assets/icons/Linkedin.png"  alt="Linkedin"></a> 
                         <a href="https://www.behance.net/SanthoshDesigr" class="icon-link" target="_blank">
                             <img class="icon" src="/assets/icons/Behance.png" alt="Behance"></a>
                         <a href="mailto:santhoshshrsvsspb@outlook.com" class="icon-link" target="_blank">
                             <img class="icon" src="/assets/icons/Email.png" alt="Email"></a>
                         <a href="https://twitter.com/SanthoshDesigr" class="icon-link" target="_blank">
                             <img class="icon" src="/assets/icons/Twitter.png" alt="Twitter"></a>
                         
                         
                      </div>
                      <p>santhoshrsvsspb@outlook.com</p>
                      <h6>+91 9042340887</h6>
                </div>
            </footer>
    
</body>
<script src="/scripts/slider.js"></script>
</html>