<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/css/index.css">
    <!-- <link rel="stylesheet" href="/css/projects.css"> -->
    <link rel="stylesheet" href="/css/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oregano&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oregano&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script defer src="/scripts/script.js"></script>

    <script src="/scripts/splide-3.6.12/dist/js/splide.min.js"></script>
    <link rel="stylesheet" href="/scripts/splide-3.6.12/dist/css/splide.min.css">
   
    <link rel="stylesheet" href="/css/portfolio.css">

   <style>
       .container{
           height: 0%;
       }
       .date{
         margin-left: 100px;
       }
       .frame{
         width: 100vw;
         height: auto;
         display: flex;
         align-items: center;
         justify-content: center;
       }
   </style>
    
  
</head>
<body>
    <section class="projects">
        <nav>
            <div class="left-nav">
                <h3 id="MENU">MENU</h3>
            </div>
            <div class="center-nav">
                
                <h3 id="name">Santhosh Desigr</h3>
            </div>
            <div class="rigt-nav">
              <a href="https://www.linkedin.com/in/santhoshdesigr"class="icon-link" target="_blank">
                  <img class="icon" src="/assets/icons/Linkedin.png"  alt="Linkedin"></a> 
               <a href="https://www.behance.net/SanthoshDesigr" class="icon-link" target="_blank">
                   <img class="icon" src="/assets/icons/Behance.png" alt="Behance"></a>
               <a href="mailto:santhoshshrsvsspb@outlook.com" class="icon-link" target="_blank">
                   <img class="icon" src="/assets/icons/Email.png" alt="Email"></a>
               <a href="https://twitter.com/SanthoshDesigr" class="icon-link" target="_blank">
                   <img class="icon" src="/assets/icons/Twitter.png" alt="Twitter"></a>
               
               
            </div>
            
        </nav>
        		<div class="container" id="about-container">
			<div class="menu-btn">
				<span class="top"></span>
				<!-- <span class="mid"></span> -->
				<span class="bot"></span>
			</div>
			<div id="nav" class="fadein">
				<ul class="nav-inner">
					<li>
						<a href="/templates/index.html">Home</a>
					</li>
					<li>
						<a href="/templates/about.html">About me</a>
					</li>
					<li>
						<a href="/templates/projects.html">Projects</a>
					</li>
					<li>
						<a href="/templates/contact.html">Contact</a>
					</li>
				</ul>
			</div>

            </div>
    </section>

 <section class="portfolio">
<div class="head">
    <img src="/assets/images/The People Choices.png" alt="" class="title">
    <div class="breadcrumb">Home ▶ <b>Project</b> ▶<b>The People Choices Food Delivery App Design </b> ▶ <b>Demo</b></div>
</div>
<div class="date">Video</div>
<div class="frame">
  <iframe
 width="1200" height="550" src="https://www.youtube-nocookie.com/embed/-AYNaZ_UP84" 
 title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


 <div class="date">Prototype</div>
 <div class="frame">
  <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="1200" height="550" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FiwGRWvCSQdWm5Aag61pUeE%2FFood-Delivery-App-Design%3Fpage-id%3D0%253A1%26node-id%3D22%253A253%26viewport%3D241%252C48%252C0.08%26scaling%3Dscale-down%26starting-point-node-id%3D22%253A252" allowfullscreen></iframe>
 </div>
 

<div class="button-box">
    <div class="in-box">
        <a href="/templates/foodDeliveryApp.html"><button id="btn">Back</button></a>
    </div>
   
</div>

 </section>
            <footer>
                <div class="left-footer">
                    <h1>Santhosh Desigr</h1>
                    <p>I am Self learner and a curious person</p>
                    <div class="links">
                        <a href="/templates/index.html">Home</a>
                        <a href="/templates/about.html">About</a>
                        <a href="/templates/projects.html">Projects</a>
                        <a href="/templates/contact.html">Contact</a>
                    </div>
                </div>
                <div class="right-footer">
                    <div class="link-footer">
                        <a href="https://www.linkedin.com/in/santhoshdesigr"class="icon-link" target="_blank">
                            <img class="icon" src="/assets/icons/Linkedin.png"  alt="Linkedin"></a> 
                         <a href="https://www.behance.net/SanthoshDesigr" class="icon-link" target="_blank">
                             <img class="icon" src="/assets/icons/Behance.png" alt="Behance"></a>
                         <a href="mailto:santhoshshrsvsspb@outlook.com" class="icon-link" target="_blank">
                             <img class="icon" src="/assets/icons/Email.png" alt="Email"></a>
                         <a href="https://twitter.com/SanthoshDesigr" class="icon-link" target="_blank">
                             <img class="icon" src="/assets/icons/Twitter.png" alt="Twitter"></a>
                         
                         
                      </div>
                      <p>santhoshrsvsspb@outlook.com</p>
                      <h6>+91 9042340887</h6>
                </div>
            </footer>
    
</body>
<script src="/scripts/slider.js"></script>
</html>