<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oregano&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oregano&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script defer src="/scripts/script.js"></script>
    <script defer src="/scripts/TypeWriting.js"></script>
    <title>Santhosh Desigr</title>
</head>
<body>
    <section class="home">
        <!-- nav bar -->
        <nav>
            <div class="left-nav">
                <h3 id="MENU">MENU</h3>
            </div>
            <div class="center-nav">
                
                <h3 id="name">Santhosh Desigr</h3>
            </div>
            <div class="rigt-nav">
              <a href="https://www.linkedin.com/in/santhoshdesigr"class="icon-link" target="_blank">
                  <img class="icon" src="/assets/icons/Linkedin.png"  alt="Linkedin"></a> 
               <a href="https://www.behance.net/SanthoshDesigr" class="icon-link" target="_blank">
                   <img class="icon" src="/assets/icons/Behance.png" alt="Behance"></a>
               <a href="mailto:santhoshshrsvsspb@outlook.com" class="icon-link" target="_blank">
                   <img class="icon" src="/assets/icons/Email.png" alt="Email"></a>
               <a href="https://twitter.com/SanthoshDesigr" class="icon-link" target="_blank">
                   <img class="icon" src="/assets/icons/Twitter.png" alt="Twitter"></a>
               
               
            </div>
            
        </nav>
        		<div class="container">
			<div class="menu-btn">
				<span class="top"></span>
				<!-- <span class="mid"></span> -->
				<span class="bot"></span>
			</div>
			<div id="nav" class="fadein">
				<ul class="nav-inner">
					<li>
						<a href="/templates/index.html">Home</a>
					</li>
					<li>
						<a href="/templates/about.html">About me</a>
					</li>
					<li>
						<a href="/templates/projects.html">Projects</a>
					</li>
					<li>
						<a href="/templates/contact.html">Contact</a>
					</li>
				</ul>
			</div>
			<div id="style-box">
				<div class="content">
                   
                        <h1 class="title-1">Hello! I 
                    <em>
                        <a href="" class="typewrite" id="txt" data-period="2000" data-type='["design","research","support."]'></a>
                    </em>
                         
                        <br>
                        Products & brands.
                    
                    </h1>
                </div>
<div class="btn-box">
    <a href="https://www.canva.com/design/DAE7aGcGOwo/9EZXQwTNO5FfHIj1wNBBmA/view?utm_content=DAE7aGcGOwo&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton"
    target="_blank"><button class="viewresume-btn">View Resume</button></a>
    
    <a href="/templates/projects.html"><button class="viewprojects-btn">View Projects</button></a>
</div>
<div class="thinkabout">Think About</div>
<h3 class="quote">“The alternative to good design is always bad design There is no such thing as no design”</h3>     

			</div>
		</div>
        
    </section>
</body>
</html>